.about-us {
  position: relative;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    // transform: translate(-50%, -50%);
    display: block;
    width: 320px;
    height: 300px;
    z-index: -1;
    background-image: url("../images/crumbs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include onTablet {
      width: 526px;
      height: 494px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include fromDesktop {
      width: 718px;
      height: 673px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__title-wrap {
    @include fromTablet {
      display: flex;
      gap: 24px;
      margin-bottom: 72px;
    }

    @include fromDesktop {
      margin-bottom: 146px;
    }

    @include bigScrin {
      @include grid;
    }
  }

  &__title {
    flex: 0 0 60%;
    margin-bottom: 32px;

    @include fromTablet {
      flex: 0 0 50%;
      margin: 0;
    }

    @include bigScrin {
      grid-column: 1 / 4;
    }
  }

  &__text {
    margin-bottom: 64px;

    @include fromTablet {
      margin-bottom: 0;
    }

    @include bigScrin {
      grid-column: 5 / 9;
    }
  }

  &__content-wraper {
    @include fromTablet {
      display: flex;
      flex-wrap: wrap;
      row-gap: 80px;
    }
  }

  &__content-item {
    margin-bottom: 48px;
    flex: 0 0 50%;

    @include fromTablet {
      margin-bottom: 0;
    }

    @include fromDesktop {
      flex: 0 0 25%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__numbers {
    margin-bottom: 8px;
    @include font(96px, 400, 0.85, 0.05em);
    color: $accentOrange;
    text-transform: uppercase;
  }
}
