.grid {
  padding: 60px 0 56px;

  @include fromTablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
    padding: 93px 0 88px;
  }

  @include bigScrin {
    padding: 93px 0 88px;
  }
}
