.page {
  font-family: "Inter", sans-serif;
  @include font(16px, 400, 1.5, -0.01em);
  color: $black;
  background-color: $lightPink;
  scroll-behavior: smooth;

  // &__menu {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   transform: translateX(-100%);
  //   transition: 0.3s;

  //   &:target {
  //     transform: translateX(0);
  //   }
  // }

  &__blog {
    @include fromDesktop {
      margin-bottom: 152px;
    }
  }

  &__product {
    margin-bottom: 72px;

    @media (min-width: 640px) {
      margin-bottom: 152px;
    }
  }

  &__about-us {
    margin-bottom: 72px;

    @include onTablet {
      margin-bottom: 152px;
    }

    @include fromDesktop {
      margin-bottom: 349px;
    }
  }
}
