.products {
  &__title {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 80px;
    }
  }

  &__items {
    @include onDesktop {
      @include grid;
    }

    &-wraper {
      display: flex;
      flex-wrap: wrap;

      @include onTablet {
        flex-wrap: nowrap;
        column-gap: 24px;
      }

      &--left {
        grid-column: 1 / 7;
      }

      &--right {
        grid-column: 3 / 9;
      }
    }
  }

  &__item {
    margin-bottom: 56px;

    &-image {
      margin: 0 auto 20px;
      width: 100%;
      height: 356px;
      border-radius: 8px;
      transition: scale 0.3s;

      @include onTablet {
        height: 424px;
      }

      @include onDesktop {
        height: 512px;
      }

      &:hover {
        scale: 1.1;
      }
    }

    &-title {
      margin-bottom: 8px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $grey;
    }

    &-description {
      margin-bottom: 24px;
    }

    &-button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 84px;
      height: 32px;
      color: $accentOrange;
      -webkit-tap-highlight-color: transparent;

      &::before {
        content: "";
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background-image: url("../images/arrow.png");
      }
    }
  }
}
