@mixin onTablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin fromTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}

@mixin bigScrin {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin font($size, $weight, $lineHeight, $letterSpacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin headerMobil() {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
